.main {
  min-height: 92vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0 0 3rem 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
